.modal #taskInput {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-block: 1.5rem;
  font-size: 1rem;
}

.modal button {
  background-color: var(--primary-color);
  margin: 0 auto;
  color: white;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s;
}

#addTaskModal button:hover {
  background-color: var(--primary-color);
}

#addTaskForm {
  display: flex;
  align-items: center;
  flex-direction: column;
}
