.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-content {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  width: 90%;
  height: fit-content;
}

.close-btn-container {
  display: flex;
  justify-content: end;
}

.close-btn {
  font-size: 1.5rem;
  cursor: pointer;
  color: #c50e29;
}

.modal h2 {
  margin-top: 1rem;
  color: #333;
  text-align: center;
}

.modal-actions {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

#deleteTaskModal p {
  margin-top: 0.5rem;
  text-align: center;
}

.modal-actions button {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.modal-actions #confirmDelete {
  background-color: var(--danger-color);
}
.modal-actions #cancelDelete {
  background-color: var(--primary-color);
}

@media screen and (min-width: 768px) {
  .modal-content {
    max-width: 500px;
  }
}

@media screen and (min-width: 1024px) {
  .modal-content {
    max-width: 650px;
  }
}
